PORT=3000
MONGO_URI=mongodb+srv://grupofacu:trabalhofacu@cluster0.zgcgxxq.mongodb.net/assisttech?retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET=chave_super_secreta_123456
ADMIN_NOME=Administrador
ADMIN_EMAIL=admin@email.com
ADMIN_LOGIN=admin
ADMIN_SENHA=123456
FRONTEND_URL=http://localhost:5173
